*{
    margin: 0;
    padding: 0;
}
body{
    background-color:black;
}
div nav{
    margin: 0 9%;
    padding: 5%;
    background-color: white;
    border-radius: 0 0 30px 30px;

}


#photo{
    width: 100vw;
}
.logo-photo{
    width:200px;
    position: absolute;
    left:50%;
    top: 0%;
    transform: translate(-50%, 0);
}

.title-text{
    width: 80%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.snake{
    width: 30vh;
    bottom:0%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.corner{
    position: absolute;
    bottom: 0%;
    width: 25%;
}
.left-corner{
    right: 0%;
}
.right-corner{
    bottom: 0%;
}

.navbar-nav:nth-child(2){
    margin-right: 200px;
}
.navbar-nav li:nth-child(3){
    margin-left: 200px;
}
@media (max-width: 1028px){
     .navbar-nav:nth-child(2){
        margin-right: 0;
    }
    .navbar-nav li:nth-child(3){
        margin-left: 0;
    }
}
