{% include "header2.html" %}
        <img src="/static/images/photo%20new.png" class="logo-photo" alt="logo-photo">
        <img src="/static/images/left%20corner.png" class='left-corner corner' alt="left corner">
        <img src="/static/images/right%20corner.png" class='right-corner corner' alt="right corner">
        <img src="/static/images/title.png" class="title-text" alt="title">
        <img src="/static/images/snake.png" class="snake" alt="snake">
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>
</html>